.App {
  width: 80vw;
  height: 90vh;
  margin: 100px auto 0 auto;
  line-height: 30px;
  text-align: justify;
}

h1,h2,h3{
  text-align: center;
}

.icerik{
  margin-top: 30px;
}

.tip{
  margin-top: 10px;
  background-color: burlywood;
  padding: 5px;
  border-radius: 10px;
}

button{
  width: 130px;
  height: 40px;
}